body {
    font: normal normal normal 14px Roboto, Arial, Verdana, "Liberation Sans", "Bitstream Vera", sans-serif;;
    height: 100%;
    background-color: white;
    overflow-x: scroll;
}
* {
    margin: 0;
    padding: 0;
}
body:after {
    content: 'max';
    display: none;
}
.content-division {
    margin: auto;
    max-width: 1600px;
}
.all-content {
    clear: both;
}
.nav-content {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px 0 10px;
    max-width: 1800px;
    background-color: rgba(0, 0, 0, 0.924);
}
.top-bar {
    height: 80px;
    z-index: 20000;
} 
.top-bar h1 {
    display: inline-block;
    text-align: left;
    z-index: 10001;
}
.logo-nav {
    position: relative;
    z-index: 10001;
    text-indent: -1000%;
    white-space: nowrap;
    height: 47px;
    width: 123px;
    background: transparent url('./images/logo\ tebo.png') no-repeat -20px -6px;
    background-size: 130%;
}
.login-meny-content {
    padding-top: 25px;
    position: relative;
    z-index: 10000;
    display: inline-block;
}
.login-meny-content ul.navi-items {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 30px;
}
.login-meny-content li.login-content {
    background: transparent url('./images/usericon.png') no-repeat 100% 100%;
    background-size: 17px;
    cursor: pointer;
    padding: 0 30px 0 20px;
    height: auto;
}
.login-meny-content li.login-content a {
    text-decoration: none;
    color: white;
}
.login-meny-content li.login-content a:hover {
    text-decoration: none;
    color: darkorange;
}
.login-meny-content li.menu-content {
    display: inline-block;
    padding: 0 0 0 20px;
    position: static;
    overflow: visible;
}
.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-meny-content {
    margin-top: 16px;
}




.dropdown {
    float: left;
    overflow: hidden;
    }

    .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    }

    .dropbtn, .dropbtn:hover {
    color: darkorange;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

    .dropdown-content a:hover {
    background-color: #f3f3f3;
    color: darkorange;
    }

    .show {
    display: block;
    }

    .kompleti-marrjes {
        box-sizing: border-box;
        padding: 0 15px 0 0;
        float: left;
        width: 30%;
    }
    .texti-marrjes {
        margin-bottom: 10px;
    }
    .texti-marrjes label {
        font-size: 13px;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
    }
    .date-input-dv1 {
        background-color: #f3f3f3;
        border: none;
        height: 60px;
        font-size: 16px;
    }
    .time-input-dv1 {
        background-color: #f3f3f3;
        height: 60px;
        border: none;
        margin-left: 30px;
        font-size: 16px;
    }

    .kompleti-kthimit {
        box-sizing: border-box;
        padding: 0 15px 0 0;
        float: left;
        width: 100%;
    }
    .date-input-dv2 {
        background-color: #f3f3f3;
        border: none;
        height: 60px;
        font-size: 16px;
    }
    .time-input-dv2 {
        background-color: #f3f3f3;
        height: 60px;
        border: none;
        margin-left: 30px;
        font-size: 16px;
    }
    .texti-dhenjes label {
        font-size: 13px;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    input[type=date]:focus {
        outline: none;
        border: none;
        border: 1px solid orange;
    }
    input[type=time]:focus {
        outline: none;
        border: none;
        border: 1px solid orange;
    }


    .kompleti-kthimit {
        box-sizing: border-box;
        padding: 0 15px 0 0;
        float: left;
        width: 50%;
    }

    .divi-kryesor-i-textit {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .texti-perzgjedhjes h1 {
        font-family: 'Cormorant Garamond', serif;
        letter-spacing: 5px;
        font-size: 40px;
    }
    .kryesorja-per-perzgjedje {
        padding: 100px 0 100px 0;
        background-color: #f3f3f3;
    }
    .container .veturat-gjermane span {
        margin-left: 100px;
    }
    .container .veturat-japoneze span {
        margin-left: 100px;
    }
    .container .veturat-angleze span {
        margin-left: 100px;
    }

    .kryesorja-imazheve {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 120px;
    }
    .social-networks {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
    }
.background-image {
    background-image: url('./images/vozitnestil.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: 650px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fiximg {
    width: 300px;
}

.login-content {
    list-style-type: none;
}

.container div a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 20px;
}

.container div a:hover{
    font-size: 20px;
    transition: 0.5s;
    color: darkorange;
    margin: 20px;
} 

footer {
    background-color: rgba(0, 0, 0, 0.877);
    height: 278px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h1 {
    font-size: 50px;
    font-family: 'MonteCarlo', cursive;
    color: darkorange;
    font-size: 70px;
}

footer div a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    margin: 20px;
}
footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}


@media only screen and (max-width:500px) {
    .nav-content {
        min-width: 300px;
        flex-direction: column;
    }

    .navi-items {
        position: absolute;
        right: 15px;
    } 

    .login-content {
        list-style-type: none;
    } 

    .logo-nav {
        position: relative;
        top: 10px;
    }
    .komplet-data-marrjes-kthimit {
        display: flex;
        flex-direction: column;
    }
    .datetime-kryesorja {
        width: 100%;
    }
    .kompleti-kthimit {
        width: 100%;
    }
    .texti-marrjes {
        margin-bottom: 10px;
        text-align: center;
    }
    .texti-dhenjes {
        text-align: center;
    } 

    .container {
        display: flex;
        flex-direction: column;
    }

    .veturat-gjermane {
        margin: 50px;
    }

    .veturat-japoneze {
        margin: 50px;
    }

    .veturat-angleze {
        margin: 50px;
    }

    .texti-perzgjedhjes h1 {
        font-size: 20px;
        text-align: center;
    }

    .background-image {
        background-image: url('./images/pldh1.jpg');
        width: 100%;
        height: 280px;
        background-repeat: no-repeat;
    }
    
        .dropdown-content {
        display: none;
        position: absolute;
        top: 40px;
        right: 1px;
        left: 1px;
        background-color: #f9f9f9;
        min-width: 330px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }
    
        .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        }
        .show {
            display: block;
        }

        footer {
            flex-direction: column;
        }
        
        footer h1 {
            font-size: 40px;
            font-family: 'MonteCarlo', cursive;
            color: darkorange;
        }
}
@media only screen and (max-width:620px) {
    .nav-content {
        min-width: 300px;
        flex-direction: column;
    }

    .navi-items {
        position: absolute;
        right: 15px;
    } 

    .login-content {
        list-style-type: none;
    }

    .logo-nav {
        position: relative;
        top: 10px;
    }
    .kompleti-marrjes {
        width: 100%;
    }
    .komplet-data-marrjes-kthimit {
        display: flex;
        flex-direction: column;
    }
    .texti-marrjes {
        margin-bottom: 10px;
        text-align: center;
    }

    .kompleti-kthimit {
        width: 100%;
    }
    .texti-dhenjes {
        text-align: center;
    } 

    .container {
        display: flex;
        flex-direction: column;
    }

    .veturat-gjermane {
        margin: 50px;
    }

    .veturat-japoneze {
        margin: 50px;
    }

    .veturat-angleze {
        margin: 50px;
    }

    .texti-perzgjedhjes h1 {
        font-size: 20px;
        text-align: center;
    }
    .content-division{
        width: 100%;
    }
    .content-division .background-image {
        background-image: url('./images/pldh1.jpg');
        width: 100%;
        height: 300px;
    }
    
        .dropdown-content {
        display: none;
        position: absolute;
        top: 40px;
        left: 1px;
        right: 1px;
        background-color: #f9f9f9;
        min-width: 330px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
        }
    
        .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        }
        .show {
            display: block;
        }

        footer {
            flex-direction: column;
        }
        
        footer h1 {
            font-size: 40px;
            font-family: 'MonteCarlo', cursive;
            color: darkorange;
        }
}
@media only screen and (max-width:700px) {
    .nav-content {
        min-width: 300px;
        flex-direction: column;
    }

    .navi-items {
        position: absolute;
        right: 15px;
    } 

    .login-content {
        list-style-type: none;
    }

    .logo-nav {
        position: relative;
        top: 10px;
    }
    .komplet-data-marrjes-kthimit {
        display: flex;
        flex-direction: column;
    }

    .kompleti-marrjes {
        width: 100%;
    }
    .texti-marrjes {
        margin-bottom: 10px;
        text-align: center;
    }

    .kompleti-kthimit {
        width: 100%;
    }
    .texti-dhenjes {
        text-align: center;
    } 

    .container {
        display: flex;
        flex-direction: column;
    }

    .veturat-gjermane {
        margin: 50px;
    }

    .veturat-japoneze {
        margin: 50px;
    }

    .veturat-angleze {
        margin: 50px;
    }

    .texti-perzgjedhjes h1 {
        font-size: 20px;
        text-align: center;
    }

    .background-image {
        background-image: url('./images/pldh1.jpg');
        width: 100%;
        height: 400px;
    }
    
        .dropdown-content {
        display: none;
        position: absolute;
        top: 40px;
        right: 3px;
        left: 1px;
        background-color: #f9f9f9;
        min-width: 370px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }
    
        .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        }
        .show {
            display: block;
        }

        footer {
            flex-direction: column;
        }
        
        footer h1 {
            font-size: 40px;
            font-family: 'MonteCarlo', cursive;
            color: darkorange;
        }
}
@media only screen and (max-width:850px) {
    .nav-content {
        min-width: 300px;
        flex-direction: column;
    }

    .navi-items {
        position: absolute;
        right: 15px;
    } 

    .login-content {
        list-style-type: none;
    }
    .komplet-data-marrjes-kthimit {
        display: flex;
        flex-direction: column;
    }

    .logo-nav {
        position: relative;
        top: 10px;
    }
    .texti-marrjes {
        margin-bottom: 10px;
        text-align: center;
    }
    .time-input-dv1 {
        position: relative;
        left: 170px;
    }
    .texti-dhenjes {
        text-align: center;
    } 
    .time-input-dv2 {
        position: relative;
        left: 170px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .veturat-gjermane {
        margin: 50px;
    }

    .veturat-japoneze {
        margin: 50px;
    }

    .veturat-angleze {
        margin: 50px;
    }

    .texti-perzgjedhjes h1 {
        font-size: 20px;
        text-align: center;
    }

    .background-image {
        background-image: url('./images/pldh1.jpg');
        width: 100%;
        height: 450px;
    }
    
        .dropdown-content {
        display: none;
        position: absolute;
        top: 40px;
        right: 3px;
        left: 1px;
        background-color: #f9f9f9;
        min-width: 370px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }
    
        .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        }
        .show {
            display: block;
        }

        footer {
            flex-direction: column;
        }
        
        footer h1 {
            font-size: 40px;
            font-family: 'MonteCarlo', cursive;
            color: darkorange;
        }
}
@media only screen and (min-width:850px) {
    .background-image {
        background-image: url('./images/vozitnestil.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 450px;
    }
} 
@media only screen and (min-width:1200px) {
    .background-image {
        background-image: url('./images/vozitnestil.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 550px;
    }
} 
@media only screen and (min-width:1500px) {
    .background-image {
        background-image: url('./images/vozitnestil.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 650px;
    }
} 